{% extends "account/base_form.html" %}

{% load i18n %}

{% block title %}{% trans "Change Password" %}{% endblock title %}

{% block form_title %}{% trans "Change Password" %}{% endblock form_title %}

{% block card_body %}
  {% csrf_token %}
  <label for="id_password1" class="mt-3">Password:</label>
  {{ form.password1 }}
  <small class="text-danger">{{ form.password1.errors }}</small>

  <label for="id_password2" class="mt-3">Password (again):</label>
  {{ form.password2 }}
  <small class="text-danger">{{ form.password2.errors }}</small>
{% endblock card_body %}

{% block card_footer%}
  <button type="submit" name="action" class="btn btn-primary btn-block">{% trans "Change Password" %}</button>
{% endblock card_footer %}
