{% extends 'polls/vue_base.html' %}
{% load static %}

{% block css %}
{% endblock css %}

{% block title %}
  Details
{% endblock title %}

{% block content %}
<div class="app">
  <div class="row mt-4">
    <div class="col-md-8 offset-md-2 card">
      <div class="card-header">
        <h1 class="d-inline">Poll Details</h1>
        {% if poll.owner == user %}
          <a href="{% url 'polls:update' poll.id %}" class="d-inline btn btn-outline-primary btn-lg float-right">Edit</a>
        {% endif %}
      </div>
      <div class="card-body row">
        <div class="col-sm-6 pt-5">
          <div class="filter">
            <label for="component-dropdown">{{ poll.title }}</label>
            <choices-dropdown id="component-dropdown" v-on:emit-selected="getVote($event)" v-bind:options="dropdownOptions"></choices-dropdown>
          </div>
          <button v-on:click="saveVote" class="btn btn-sm btn-primary mt-3">Submit Vote</button>
        </div>
        <div class="col-sm-6 pt-3"><pie-chart v-if="choices" v-bind:prop-choices="choices"></pie-chart></div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block extra_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
<script src="https://unpkg.com/vue-chartjs/dist/vue-chartjs.min.js"></script>
<script src="{% static 'scripts/components/choices-dropdown.js' %}"></script>
<script src="{% static 'scripts/components/pie-chart.js' %}"></script>
{% endblock extra_js %}
