{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
{{ poll.title }}

<div class="app">
  <pie-chart></pie-chart>
</div>
{% endblock content %}

{% block js %}
  {% if DEBUG %}
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  {% else %}
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
  {% endif %}
  <script>
    let API_ROOT_URL = '{{ API_ROOT_URL }}';
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
  <script src="https://unpkg.com/vue-chartjs/dist/vue-chartjs.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
  <script src="{% static 'scripts/components.js' %}"></script>
  <script src="{% static 'scripts/vue.js' %}"></script>
{% endblock js %}
