{% extends 'polls/vue_base.html' %}
{% load static %}
{% load poll_extras %}

{% block title %}My Polls{% endblock title %}

{% block css %}

/* modal CSS */
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  max-width: 500px;
  overflow-y: auto;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
{% endblock %}

{% block content %}
<div class="row mt-4">
  <div class="col-md-8 offset-md-2">
    <div class="card">
      <div class="card-header">
        <h2 class="d-inline">My Polls</h2>
        <div id="app" class="d-inline">
          <button class="btn btn-lg btn-outline-primary float-right" v-on:click="showModal = true">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </button>
          <poll-add-form v-if="showModal" v-on:save-poll="getNewPoll($event)" @close="showModal = false">
            <h3 slot="header">Add Poll</h3>
          </poll-add-form>
        </div>
      </div>
      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Title</th>
              <th scope="col">Owner</th>
              <th scope="col">Total Responses</th>
              <th scope="col">Created</th>
            </tr>
          </thead>
          <tbody>
            {% for poll in polls %}
            <tr>
              <th scope="row"><a href="{% url 'polls:details' poll.id %}">{{ poll.title|truncatechars:'30' }}</a></th>
              <td>{{ poll.owner.username }}</td>
              <td>{{ poll|total_responses }}</td>
              <td>{{ poll.datetime_created|date:"d M Y" }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% if not page_obj.paginator.num_pages == 1 %}
        <div class="card-footer">
          <div class="text-center">
            <span>
              {% if page_obj.has_previous %}
                <a class="btn btn-info btn-sm" href="?page=1">&laquo; first</a>
                <a class="btn btn-info btn-sm" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
              {% endif %}
              <a class="btn btn-info btn-sm active">{{ page_obj.number }}</a>
              {% if page_obj.has_next %}
                <a class="btn btn-info btn-sm" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
                <a class="btn btn-info btn-sm" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
              {% endif %}
            </span>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}

{% block extra_js %}
<script src="{% static 'scripts/components/poll-add-form.js' %}"></script>
<script src="{% static 'scripts/vues/add-poll.js' %}"></script>
{% endblock extra_js %}
