{% extends 'accounts/base_form.html' %}

{% block title %}Password Change{% endblock title %}

{% block form_title %}Change Password{% endblock form_title %}

{% block card_body %}
  {% csrf_token %}
  <label for="id_oldpassword" class="mt-3">Current Password:</label>
  {{ form.oldpassword }}
  <small class="text-danger">{{ form.oldpassword.errors }}</small>

  <label for="id_password1" class="mt-3">New Password:</label>
  {{ form.password1 }}
  <small class="text-danger">{{ form.password1.errors }}</small>

  <label for="id_password2" class="mt-3">New Password (again):</label>
  {{ form.password2 }}
  <small class="text-danger">{{ form.password2.errors }}</small>
{% endblock card_body %}

{% block card_footer %}
  <input type="submit" class="btn btn-primary btn-block" value="Change Password" />
{% endblock card_footer %}
