{% extends 'base.html' %}
{% load socialaccount %}

{% block title %}Signup{% endblock title %}

{% block content %}
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <form action="" method="post">
        <div class="card">
          <div class="card-header"><h2>Sign Up</h2></div>
          <div class="card-body block">
            {% csrf_token %}
            {{form}}
            <input type="submit" class="btn btn-primary mt-3" value="Sign Up" />
            {{ form.non_field_errors }}
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock content %}
